.header-actions {
    display: flex;
    gap: 10px;
}


.square-btn {
    width: 32px;
    height: 32px;
    border: none;
    border-radius: 4px;
    color: white;
    font-weight: bold;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
}



.group-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px;
    border-bottom: 1px solid var(--border-color);
}

.group-select {
    width: 100%;
    padding: 5px;
    border: 1px solid var(--border-color);
    border-radius: 4px;
    background: var(--input-bg);
    color: var(--text-main);
    font-size: 14px;
    outline: none;
}

.invalid-input {
    border: 2px solid red !important;
    background-color: rgba(255, 0, 0, 0.1);
}

.drop-zone {
    border: 2px dashed #007bff;
    border-radius: 8px;
    padding: 25px;
    text-align: center;
    color: #000;
    background: #acc9ff;
    transition: all 0.3s;
    cursor: pointer;
    margin-bottom: 15px;
}

.drop-zone.drag-over {
    background: #e7f3ff;
    border-color: #0056b3;
    transform: scale(1.02);
}

.pdf-entry {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background: #acc9ff;
    border: 1px solid var(--text-main);
    margin-bottom: 5px;
    border-radius: 4px;
}

.number-wrapper {
    width: 100%;
    display: flex;
    align-items: center;
    border: 1px solid var(--border-color);
    border-radius: 4px;
    overflow: hidden;
    background: var(--input-bg);
    min-width: 100px;
}

.custom-number-input {
    flex-grow: 1;
    width: 0;
    border: none;
    text-align: center;
    background: transparent;
    color: var(--text-main);
    font-size: 14px;
    padding: 5px 0;
    -moz-appearance: textfield;
}

.custom-number-input::-webkit-inner-spin-button,
.custom-number-input::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.qty-btn {
    background: transparent;
    border: none;
    font-size: 18px;
    font-weight: bold;
    width: 25px;
    cursor: pointer;
    transition: background 0.2s;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
}

#newGroupName {
    background: var(--bg-card);
    padding:8px; 
    border:1px solid var(--border-color); 
    color: var(--text-color); 
    border-radius:4px; 
    flex: 1;
    height: 32px;
}

#groupListLines {
    display:flex;
    justify-content:space-between;
    padding:10px 5px;
    border-bottom:1px solid transparent;
    background:
        linear-gradient(
            to right,
            transparent,
            var(--devider),
            transparent
        )
    bottom / 100% 1px no-repeat;
}