.group-select {
    background-color: var(--bg-card);
    width: 128px;
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 4px;
    padding-bottom: 4px;
    border-color: var(--border-color);
    border-radius: 6px;
    font-size: 14px;
    line-height: 20px;
}

.group-select:focus {
    border-color: var(--bg-card);
}
