.login-page {
    background: var(--bg-page);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-card {
    background: var(--bg-card);
    color: var(--text-main);
    padding: 40px;
    border-radius: 12px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
    text-align: center;
    width: 100%;
    max-width: 400px;
}

.input-group {
    text-align: left;
    margin-bottom: 20px;
}

.input-group label {
    display: block;
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 6px;
}

.input-group input {
    width: 100%;
    padding: 12px;
    border: 1px solid var(--border-color);
    border-radius: 6px;
    font-size: 16px;
    background: var(--input-bg);
    color: var(--text-main);
    transition: transform 0.3s ease;
}

.input-group input:hover {
    transform: scale(101%);
}

.login-btn {
    width: 100%;
    padding: 12px;
    background: var(--accent-blue);
    color: white;
    border: none;
    border-radius: 6px;
    font-weight: bold;
    cursor: pointer;
    transition: 
        background 0.3s ease,
        transform 0.3s ease;
}

.login-btn:hover {
    background: var(--accent-blue-hover);
    transform: scale(101%);
}