.login-page {
    background: var(--bg-page);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    transition-property: color;
    transition-timing-function: 300ms;
}

.login-container {
    width: 100%;
    max-width: 448px;
    padding: 16px;
}

.login-card {
    background: var(--bg-card);
    padding: 40px;
    border-radius: 16px;
    box-shadow: var(--login-shadow);
    border-width: 1px;
    border-color: var(--border-color);
    border-style: solid;
    text-align: center;
    width: 100%;
    max-width: 400px;
}

.input-container {
    margin-top: 24px;;
}

.input-group {
    text-align: left;
    margin-bottom: 20px;
}

.input-group-label {
    display: block;
    font-size: 14px;
    line-height: 20px;
    font-weight: 600;
    color: var(--text-main);
    margin-bottom: 8px;
    margin-top: 8px;
}

.input-group-input {
    width: 100%;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 12px;
    padding-bottom: 12px;
    border: 1px solid var(--border-color);
    border-radius: 8px;
    font-size: 16px;
    background: var(--input-bg);
    color: var(--text-muted);
    outline: none;
}

.login-btn {
    width: 100%;
    padding: 12px;
    background: var(--accent-blue);
    color: white;
    border: none;
    border-radius: 6px;
    font-weight: bold;
    cursor: pointer;
}

.login-header {
    font-size: 30px;
    line-height: 36px;
    font-weight: bold;
    color: var(--text-main);
    margin-bottom: 8px;
}

.login-undertitle {
    color: var(--text-muted);
}

.footer-container {
    display: flex;
    color: var(--text-muted);
    margin-top: 32px;
    text-align: center;
    flex-direction: column;
    align-items: center;
}

.footer-container p {
    font-size: 14px;
    line-height: 20px;
}

.footer-container a {
    color: var(--text-muted);
    font-size: 14px;
    line-height: 20px;
    text-decoration: none;
    padding: 6px 0;
}

.footer-container a:hover::after {
    color: var(--text-main);
    width: 100%;
}

.footer-container a::after {
    content: "";
    display: block;
    width: 0;
    height: 2px;
    color: var(--text-main);
    background-color: var(--text-main);
    transition: width 0.3s ease;
}


.footer-container a:hover {
    color: var(--text-main);
}