:root {
    /* LIGHT MODE */
    --bg-page: #f8fafc;
    --bg-content: #ffffff;
    --bg-navbar: #3b82f6;
    --bg-table-header: #f8fafcbb;
    --bg-tcontent-hover: #f8fafc;
    --bg-drop: rgb(239, 246, 255 / 50);
    --bg-drop-hover: rgb(239 246 255);
    --bg-card: rgb(255, 255, 255);
    --bg-modal-list: rgb(219 234 254 / 80);
    --text-main: #1e293b;
    --text-muted: #797979;
    --login-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.1), 0 8px 10px -6px rgb(0 0 0 / 0.1);
    --border-color: rgb(226, 232, 240);
    --border-drop: rgb(96, 165, 250 / 50);
    --border-drop-hover: rgb(59 130 246);
    --input-bg: #ffffff;
    --modal-overlay: #00000080;
    --accent-blue: #155dfb;
    --accent-blue-hover: #1d4ed8;
    --accent-green: #28a745;
    --accent-red: #ff7777;
    --dragdrop-background: #acc9ff;
    --modal-list-text: rgb(71 85 105);
    --minus-button: rgb(59 130 246);
    --plus-button: rgb(239 68 68);
    --border-radio-color: rgb(148 163 184);
    --border-radio-color-hover: rgb(148 163 184);
}

@media (prefers-color-scheme: dark) {
    :root {
        /* DARK MODE */
        --bg-page: #0f172a;
        --bg-content: rgb(30 41 59 / var(--tw-bg-opacity, 1));
        --bg-navbar: #0f172acc;
        --bg-table-header: #f8fafc23;
        --bg-card: rgb(30, 41, 59);
        --bg-tcontent-hover: #0f172a;
        --bg-drop: rgb(59 130 246 / 80%);
        --bg-drop-hover: rgb(59 130 246 / 10);
        --bg-modal-list: #a5c2f9;
        --text-main: #ffffff;
        --text-muted: #94a3b8;
        --login-shadow: 0 25px 50px -12px rgb(0 0 0 / 0.25);
        --border-color: rgb(29, 37, 49);
        --border-drop: rgb(59, 130, 246 / 30);
        --border-drop-hover: #3b82f6;
        --input-bg: var(--bg-content);
        --modal-overlay: ;
        --accent-blue: #155dfb;
        --accent-blue-hover: #1d4ed8;
        --modal-list-text: rgb(51 65 85);
        --dragdrop-background: ;
        --border-radio-color: rgb(51 65 85);
        --border-radio-color-hover: rgb(100 116 139);
    }
}

a {
    text-decoration: none;
}

input,
select {
    color: var(--text-main);
}

.t_content:hover {
    background-color: var(--bg-tcontent-hover);
}

.header-content-muted {
    color: var(--text-muted);
}

.header-content {
    color: var(--text-main);
    font-weight: 600;
}

.header-link {
    color: var(--text-main);
    padding-left: 4px;
    padding-right: 4px;
    padding-top: 8px;
    padding-bottom: 8px;
    border-bottom-width: 2px;
    font-size: 14px;
    line-height: 20px;
    font-weight: 500;
}

.header-link-muted {
    color: var(--text-muted);
    padding-left: 4px;
    padding-right: 4px;
    padding-top: 8px;
    padding-bottom: 8px;
    font-size: 14px;
    line-height: 20px;
    font-weight: 500;
    text-decoration: none;
    transition-property: color, background-color, border-color, text-decoration-color, fill, stroke;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms;
}

.header-link-muted:hover {
    color: var(--text-main);
}

.h1 {
    color: var(--text-main);
    font-weight: 700;
    font-size: 48px;
    line-height: 1;
    letter-spacing: -0.025em;
}

.undertitle {
    color: var(--text-muted);
    margin-top: 10px
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Inter, sans-serif;
    background-color: var(--bg-page);
    color: var(--text-main);
    min-height: 100vh;
    transition-property: color, background-color, border-color, text-decoration-color, fill, stroke;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 300ms;
}

@media (width >=40rem) {
    .headercon1 {
        padding-left: 24px;
        padding-right: 24px;
    }

    main {
        padding-left: 24px;
        padding-right: 24px;
    }
}

@media (width >=64rem) {
    .headercon1 {
        padding-left: 32px;
        padding-right: 32px;
    }

    main {
        padding-left: 32px;
        padding-right: 32px;
    }
}

.content {
    padding: 20px 30px;
}

main {
    max-width: 1280px;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 40px;
    padding-bottom: 40px;
    margin-left: auto;
    margin-right: auto;
}

.top-bar {
    display: flex;
    justify-content: space-between;
    align-items: end;
    margin-bottom: 32px;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

input[type="file"]::-webkit-file-upload-button,
input[type="file"]::file-selector-button {
    display: none;
}

.count-div {
    display: flex;
    align-items: center;
    border: solid;
    border-color: var(--border-color);
    border-radius: 6px;
    font-size: 14px;
    line-height: 20px;
    width: 128px;
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 4px;
    padding-bottom: 4px;
}

.uploadfile {
    position: absolute;
    inset: 0px;
    opacity: 0;
}

.uploadfile:hover {
    cursor: pointer;
}