<!DOCTYPE html>
<html lang="de">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>Inventur</title>
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='images/favicon.png') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='stylesheet/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='stylesheet/navbar.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='stylesheet/events.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='stylesheet/home.css') }}">
    <script src="{{ url_for('static', filename='js/events.js') }}"></script>
    <script type="module" src="{{ url_for('static', filename='js/sessiontimer.js') }}"></script>
</head>

<body>

    <nav class="navbar">
        <div class="nav-left">
            <a href="{{ url_for('home') }}" class="nav-item">Home</a>
            <a href="{{ url_for('events') }}" class="nav-item">Veranstaltungen</a>
            {% if role == 'Administrator' %}
            <a href="{{ url_for('users') }}" class="nav-item">Benutzerverwaltung</a>
            {% endif %}
        </div>
        <div class="nav-right">
            <span class="user-name">Angemeldet als: {{ username }}</span>
            <a href="{{ url_for('logout') }}" class="logout-btn" style="text-decoration: none;">Logout</a>
        </div>
    </nav>

    <div class="content">
        <div style="display: flex; justify-content: space-between; align-items: center;">
            <h1>Veranstaltungen</h1>
            <div class="header-actions">
                <button class="square-btn btn-green" id="add-event-btn">+</button>
            </div>
        </div>
        <table id="events-table">
            <thead>
                <tr>
                    <th style="width: 15%;">Datum</th>
                    <th style="width: 20%">Event Name</th>
                    <th style="width: 20%">Ort</th>
                    <th style="width: 20%">Verantwortlich</th>
                    <th style="width: 20%;">Information</th>
                    <th style="width: 15%;">Aktionen</th>
                </tr>
            </thead>
            <tbody id="events-table-body">
            </tbody>
        </table>
    </div>

</body>
<!--Can be changed to another url-->
<footer class="site-footer">
    <div class="footer-links">
        <a href="https://home.graf-rasso-gymnasium.de/home/impressum/" target="_blank">Impressum</a>
        <span class="footer-divider">|</span>
        <a href="https://home.graf-rasso-gymnasium.de/home/datenschutzerklaerung/"
            target="_blank">Datenschutzhinweise</a>
    </div>
</footer>

<script id="session-config" src="{{ url_for('static', filename='js/sessiontimer.js') }}"
    data-logout-url="{{ url_for('logout') }}">
    </script>

</html>