<!DOCTYPE html>
<html lang="de">

<head>
    <meta charset="UTF-8">
    <title>Event Details</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='stylesheet/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='stylesheet/navbar.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='stylesheet/event_detail.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='stylesheet/btn.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='stylesheet/modal.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='stylesheet/tables.css') }}">
    <script src="{{ url_for('static', filename='js/event_detail.js') }}"></script>
</head>

<body>
    <header class="header">
        <div class="headercon1">
            <div class="headercon2">

                <nav class="navbar">
                    <div class="nav-left">
                        <a href="{{ url_for('home') }}" class="header-link-muted">Home</a>
                        <a href="{{ url_for('events') }}" class="header-link">Veranstaltungen</a>
                        {% if role == 'Administrator' %}
                        <a href="{{ url_for('users') }}" class="header-link-muted">Benutzerverwaltung</a>
                        {% endif %}
                    </div>
                </nav>
                <div class="nav-right">
                    <div class="nav-right2">
                        <span class="header-content-muted">Angemeldet als:</span>
                        <span class="header-content">{{ username }}</span>
                    </div>
                    <a href="{{ url_for('logout') }}" class="logout button">
                        Logout</a>
                </div>
            </div>
        </div>
    </header>
    <main>
        <div class="content">
            <a href="{{ url_for('events') }}">← Zurück</a>
            <div data-event-id="{{ event.id }}" id="detail-context">
                <div class="top-bar">
                    <div>
                        <h2 class="h1">{{ event.name }}</h2>
                        <p class="undertitle">Verwalten Sie die gebuchten Items für ihr Event</p>
                    </div>
                    <button class="btn-add-tr" id="open-modal-btn" onclick="toggleModal(true)">+</button>
                </div>
                <div class="table-container">
                    <div style="overflow-x: auto;">
                        <table>
                            <thead>
                                <tr class="tr-header">
                                    <th class="th-header">Gruppe</th>
                                    <th class="th-header">Name</th>
                                    <th class="th-header">Lagerort</th>
                                    <th class="th-header" class="qty-column">Menge</th>
                                    <th class="th-header" style="text-align: left;">Aktion</th>
                                </tr>
                            </thead>
                            <tbody id="assigned-body"></tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div id="addItemModal" class="modal">
            <div class="modal-main">
                <div class="modal-header-con">
                    <h2 id="pdfModalTitle" class="modal-header">Geräte auswählen</h2>
                </div>
                <div id="inventory-checklist" class="pdf-modal-list"></div>
                <footer
                    class="pdf-modal-footer">
                    <button
                        class="cancel-btn"
                        onclick="toggleModal(false)">
                        Abbrechen
                    </button>
                    <button
                        id="confirm-bulk-add-btn"
                        class="assing-item-save-btn">
                        Speichern
                    </button>
                </footer>
            </div>
        </div>
    </main>
</body>

</html>