<!DOCTYPE html>
<html lang="de">

<head>
    <meta charset="UTF-8">
    <title>Inventur - Home</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='stylesheet/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='stylesheet/home.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='stylesheet/modal.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='stylesheet/btn.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='stylesheet/navbar.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='stylesheet/tables.css') }}">
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='images/favicon.png') }}">
    <script src="{{ url_for('static', filename='js/inventory.js') }}"></script>

</head>

<body>

    <header>
        <div class="headercon1">
            <div class="headercon2">

                <nav class="navbar">
                    <div class="nav-left">
                        <a href="{{ url_for('home') }}" class="header-link">Home</a>
                        <a href="{{ url_for('events') }}" class="header-link-muted">Veranstaltungen</a>
                        {% if role == 'Administrator' %}
                        <a href="{{ url_for('users') }}" class="header-link-muted">Benutzerverwaltung</a>
                        {% endif %}
                    </div>
                </nav>
                <div style="display: flex; align-items: center; margin-left: 24px;">
                    <div
                        style="display: flex; align-items: center; margin-right: 8px; font-size: 14px; line-height: 20px;">
                        <span class="header-content-muted" data-i18n="loggedInAs">Angemeldet als:</span>
                        <span class="header-content">{{ username }}</span>
                    </div>
                    <a href="{{ url_for('logout') }}" class="logout button">
                        Logout</a>
                </div>
            </div>
        </div>
    </header>

    <main>
        <div class="top-bar">
            <div>
                <h1 class="h1">Inventurliste</h1>
                <p class="undertitle">Verwalten Sie Ihre Bestände und Lagerorte effizient.</p>
            </div>
            {% if role == 'Administrator' or role == 'Editor'%}
            <div style="display: flex; gap: 12px;">
                <button class="btn-add-tr" onclick="toggleModal('groupModal', true)" title="Manage Groups">
                    G
                </button>
                <button class="btn-add-tr" id="add-home-row" title="Add Item">
                    +
                </button>
                {% endif %}
            </div>
        </div>
        <div class="table-container">
            <div style="overflow-x: auto;">
                <table id="home-table">
                    <thead>
                        <tr class="tr-header">
                            <th class="th-header">
                                Gruppe</th>
                            <th class="th-header">
                                Name</th>
                            <th class="th-header">
                                Lagerort</th>
                            <th class="th-header">
                                Anzahl</th>
                            <th class="th-header">
                                Aktuell </th>
                            <th class="th-header">
                                Information</th>
                            {% if role == 'Administrator' or role == 'Editor' %}
                            <th class="th-header" style="text-align: left;">
                                Aktion</th>
                            {% else %}
                            <th class="th-header" style="text-align: left;">Aktion</th>
                            {% endif %}
                        </tr>
                    </thead>
                    <tbody id="home-table-body">

                    </tbody>
                </table>
            </div>
        </div>
    </main>

    <footer class="site-footer">
        <div class="footer-links">
            <a href="https://home.graf-rasso-gymnasium.de/home/impressum/" target="_blank">Impressum</a>
            <span class="footer-divider">|</span>
            <a href="https://home.graf-rasso-gymnasium.de/home/datenschutzerklaerung/"
                target="_blank">Datenschutzhinweise</a>
        </div>
    </footer>

    <div id="groupModal" class="modal">
        <div class="modal-main">
            <div class="modal-header-con">
                <h2 class="modal-header">Gruppen verwalten</h2>
            </div>
            <div>
                <div id="groupList" class="group-modal-group-list">
                    <!-- Dynamisch gefüllte Liste der Gruppen -->
                </div>
                <div class="group-modal-new-group">
                    <input type="text" id="newGroupName" placeholder="Neue Gruppe..." class="group-modal-new-group">
                    <button class="btn-add-tr" onclick="addGroup()"> +
                    </button>
                </div>
                <div class="modal-footer">
                    <button class="assign-item-save-btn" onclick="toggleModal('groupModal', false)">
                        Ok
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div id="pdfModal" class="modal">
        <div class="modal-main">
            <div class="modal-header-con">
                <h2 id="pdfModalTitle" class="modal-header">Anleitungen</h2>
            </div>
            {% if role == 'Administrator' or role == 'Editor' %}
            <div id="dropZone" class="pdf-modal-dropzone">
                <div class="pdf-modal-dropzone-content">
                    <span class="material-symbols-outlined text-4xl">upload_file</span>
                </div>
                <p1 class="pdf-modal-dropzone-content-p1">
                    PDF hierher ziehen oder klicken
                </p1>
                <p2 class="pdf-modal-dropzone-content-p2">
                    zum Hochladen
                </p2>
                <input type="file" id="pdfInput" accept="application/pdf" class="uploadfile">
            </div>
            {% endif %}
            <div id="pdfList" class="pdf-modal-list">
            </div>

            <footer class="modal-footer">
                <button class="assign-item-save-btn" onclick="toggleModal('pdfModal', false)">Ok</button>
            </footer>
        </div>
    </div>
</body>
<script>
    // Jinja2 replaces role with current user
    const USER_ROLE = "{{ role }}"; 
</script>

</html>