<!DOCTYPE html>
<html lang="de">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>Inventur</title>
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='images/favicon.png') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='stylesheet/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='stylesheet/navbar.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='stylesheet/home.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='stylesheet/events.css') }}">
    <script type="module" src="{{ url_for('static', filename='js/inventory.js') }}"></script>
    <script type="module" src="{{ url_for('static', filename='js/sessiontimer.js') }}"></script>
</head>

<body>
    <nav class="navbar">
        <div class="nav-left">
            <a href="{{ url_for('home') }}" class="nav-item">Home</a>
            <a href="{{ url_for('events') }}" class="nav-item">Veranstaltungen</a>
            {% if role == 'Administrator' %}
            <a href="{{ url_for('users') }}" class="nav-item">Benutzerverwaltung</a>
            {% endif %}
        </div>
        <div class="nav-right">
            <span class="user-name">
                <span style="color: var(--text-muted);">Angemeldet als</span>: {{ username }}
            </span>
            <a href="{{ url_for('logout') }}" class="logout-btn" style="text-decoration: none;">Logout</a>
        </div>
    </nav>

    <div class="content">
        <div style="display: flex; justify-content: space-between; align-items: center;">
            <h1>Inventurliste</h1>
            <div class="header-actions">
                <button class="square-btn btn-blue" onclick="toggleModal('sortModal', true)" title="Sortierung">⇅</button>
                {% if role == 'Administrator' or role == 'Editor'%}
                <button class="square-btn btn-blue" onclick="toggleModal('groupModal', true)">G</button>
                <button class="square-btn btn-green" id="add-home-row">+</button>
                {% endif %}
            </div>
        </div>

        <table id="home-table">
            <thead>
                <tr>
                    <th style="width: 10%;">Gruppe</th>
                    <th style="width: 25%;">Name</th>
                    <th style="width: 10%;">Lagerort</th>
                    <th style="width: 10%;">Anzahl</th>
                    <th style="width: 8%;">Aktuell </th>
                    <th style="width: 25%;">Information</th>
                    {% if role == 'Administrator' or role == 'Editor' %}
                    <th style="width: 10%; text-align: center;">Aktion</th>
                    {% else %}
                    <th style="width: 10%; text-align: center;">Aktion</th>
                    {% endif %}
                </tr>
            </thead>
            <tbody id="home-table-body">

            </tbody>
        </table>
    </div>

    <div id="groupModal" class="modal">
        <div class="modal-content">
            <h3>Gruppen verwalten</h3>
            <div id="groupList" style="margin-top: 20px; max-height: 200px; overflow-y: auto;">
            </div>
            <div style="margin-top: 20px; display: flex; gap: 5px; justify-content: center;">
                <input type="text" id="newGroupName" placeholder="Neue Gruppe...">
                <button class="square-btn btn-green" onclick="addGroup()">+</button>
            </div>
            <div style="margin-top: 20px;">
                <button class="normal-btn btn-green" onclick="toggleModal('groupModal', false)">Ok</button>
            </div>
        </div>
    </div>

    <div id="sortModal" class="modal">
        <div class="modal-content">
            <h3>Sortierung</h3>
            <div id="sortOptions" style="margin-top: 20px;">
                <label class="sort-radio-label">
                    <input type="radio" name="sort" value="default" class="radio-input">
                    <div class="radio-btn-custom">
                        <div class="radio-btn-inner"></div>
                    </div>
                    <span>Standardsortierung</span>
                </label>
                <label class="sort-radio-label">
                    <input type="radio" name="sort" value="name-asc" class="radio-input">
                    <div class="radio-btn-custom">
                        <div class="radio-btn-inner"></div>
                    </div>
                    <span>Name A-Z</span>
                </label>
                <label class="sort-radio-label">
                    <input type="radio" name="sort" value="name-desc" class="radio-input">
                    <div class="radio-btn-custom">
                        <div class="radio-btn-inner"></div>
                    </div>
                    <span>Name Z-A</span>
                </label>
                <label class="sort-radio-label">
                    <input type="radio" name="sort" value="group" class="radio-input">
                    <div class="radio-btn-custom">
                        <div class="radio-btn-inner"></div>
                    </div>
                    <span>Gruppe</span>
                </label>
                <label class="sort-radio-label">
                    <input type="radio" name="sort" value="lagerort" class="radio-input">
                    <div class="radio-btn-custom">
                        <div class="radio-btn-inner"></div>
                    </div>
                    <span>Lagerort</span>
                </label>
            </div>
            <div style="margin-top: 20px;">
                <button class="normal-btn btn-green" onclick="toggleModal('sortModal', false)">Ok</button>
            </div>
        </div>
    </div>

    <div id="pdfModal" class="modal">
        <div class="modal-content" style="max-width: 600px;">
            <h3 id="pdfModalTitle">Anleitungen</h3>
            <br>
            {% if role == 'Administrator' or role == 'Editor' %}
            <div id="dropZone" class="drop-zone">
                <img class="icon" src="{{ url_for('static', filename='images/upload.svg') }}" alt="Upload" style="width: 70px; height: 70px;">
                <input type="file" id="pdfInput" accept="application/pdf" style="display: none;">
            </div>
            {% endif %}
            <div id="pdfList" style="margin-top: 15px; max-height: 300px; overflow-y: auto;">
            </div>

            <div style="margin-top: 20px;">
                <button class="normal-btn btn-green" onclick="toggleModal('pdfModal', false)">Ok</button>
            </div>
        </div>
    </div>
</body>
<!--Can be changed to another url-->
<footer class="site-footer">
    <div class="footer-links">
        <a href="https://home.graf-rasso-gymnasium.de/home/impressum/" target="_blank">Impressum</a>
        <span class="footer-divider">|</span>
        <a href="https://home.graf-rasso-gymnasium.de/home/datenschutzerklaerung/"
            target="_blank">Datenschutzhinweise</a>
    </div>
</footer>

<script 
    id="session-config" 
    src="{{ url_for('static', filename='js/sessiontimer.js') }}"
    data-logout-url="{{ url_for('logout') }}">  
</script>

<script>
    // Jinja2 replaces role with current user
    const USER_ROLE = "{{ role }}";
</script>

</html>