<!DOCTYPE html>
<html lang="de">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inventur</title>
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='images/favicon.png') }}">
    <link rel="icon" type="image/png" href="favicon.png">
    <link rel="stylesheet" href="{{ url_for('static', filename='stylesheet/style.css') }}">
    <!-- redirects directly to home -->
    <meta http-equiv="refresh" content="0; url=home.html">
</head>

<body>
    <footer class="site-footer">
        <div class="footer-links">
            <a href="https://home.graf-rasso-gymnasium.de/home/impressum/" target="_blank">Impressum</a>
            <span class="footer-divider">|</span>
            <a href="https://home.graf-rasso-gymnasium.de/home/datenschutzerklaerung/"
                target="_blank">Datenschutzhinweise</a>
        </div>
    </footer>
</body>

</html>